* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
    color: #fff;
    pointer-events: all;
}

html,
body {
    width: 100%;
    height: 100%;
}

*::selection {
    background-color: #fff;
    color: #502121;
}

body::-webkit-scrollbar {
    display: block;
    width: 6px;
    background: linear-gradient(to top, #553335, black 100%);
}

body::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 50px;
}

#nav-bar {
    height: 120px;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 150px;
    gap: 45px;
    position: fixed;
    z-index: 99;
}

#nav-bar img {
    height: 50px;
}

#nav-bar h4 {
    text-transform: uppercase;
    font-weight: 500;
}
#nav-bar h4 a {
    text-decoration: none;
    color: #fff;
}

#cursor {
    height: 20px;
    width: 20px;
    background-color: #864343;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}

#shade-cursor {
    height: 200px;
    width: 200px;
    background-color: #9e62627a;
    border-radius: 50%;
    position: fixed;
    filter: blur(60px);
    z-index: 9;
}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

#main {
    position: relative;
    background-color: rgba(0, 0, 0, 0.37);
}

#first-page {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}

#first-page h1 {
    font-size: 95px;
    font-weight: 700;
    position: relative;
}

#first-page h1::before {
    content: "Royal! Timeless Beauty";
    position: absolute;
    color: black;
    top: -4px;
    left: -4px;
    -webkit-text-stroke: 1px #864343;
    z-index: -1;
}

#first-page h2 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
}

#first-page p {
    font-size: 22px;
    font-weight: 400;
    width: 55%;
}

#second-page {
    min-height: 100vh;
    width: 100%;
    z-index: 10;
}


#morque {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}

#morque h4 {
    display: inline-block;
    font-size: 130px;
    font-weight: 700;
    margin-right: 10px;
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    transition: all linear 0.5s;

}

#morque h4:hover {
    color: #502121;
}

#scroll-in {
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#morque::-webkit-scrollbar {
    display: none;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}


#feature {
    margin: 70px 400px;
    height: 60vh;
    transform: translate(0%, -0%);
}

.img-section {
    width: 0%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

img {
    height: 100%;
    object-fit: cover;
    border-radius: 3%;
}

.text {
    width: 450px;
    height: 100px;
    overflow: hidden;
    position: absolute;
    bottom: 10%;
    left: -10%;
    z-index: 999;
}

.text h1 {
    top: 100px;
    position: absolute;
    font-size: 5vw;
}

#paragraph {
    width: 360px;
    height: 100px;
    overflow: hidden;
    position: absolute;
    bottom: 30%;
    left: -10%;
    z-index: 999;
}

#paragraph p {
    top: 100px;
    position: absolute;
    font-size: 18px;
}

#cards-section {
    margin-top: 50px;
    position: relative;
    z-index: 10;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.cards {
    height: 90%;
    width: 24%;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.cards:hover {
    transform: rotate3d(-1, 1, 0, 20deg);
}

#card1 {
    background-image: url(https://miro.medium.com/v2/resize:fit:1400/1*rNnrVkWqU2ZpZuUpy-9_nQ.jpeg);
}

#card2 {
    background-image: url(https://itp.live/cloud/2023/03/23/How-To-Start-A-Watch-Collection-0-Hero.jpg);
}

#card3 {
    background-image: url(https://preview.redd.it/sotc-time-for-a-new-watch-box-v0-9k55c6oe8xpb1.jpg?width=640&crop=smart&auto=webp&s=236f6b100ac4d8471e57aab573b990bfe7ef61ed);
}

.overlay {
    padding: 35px;
    height: 100%;
    width: 100%;
    background-color: #683030d2;
    padding-top: 120px;
    opacity: 0;
    transition: all ease 0.6s;
}

.overlay:hover {
    opacity: 1;
}

.overlay h4 {
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
}

.overlay p {
    color: #fff;
    font-size: 17px;

}

#theme {
    margin-top: 90px;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#theme h4 {
    width: 45%;
    font-size: 23px;
    text-transform: uppercase;
    text-align: center;
}

#theme img {
    height: 100%;
    object-fit: cover;
    filter: invert(13%) sepia(9%) saturate(5254%) hue-rotate(320deg) brightness(98%) contrast(90%);
}

#third-page {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.swiper-slide h4 {
    font-size: 30px;
    width: 50%;
}

.swiper-slide img {
    position: absolute;
    height: 60px;
}

.swiper-slide #colon-1 {
    left: 20%;
    top: 25%;
    filter: invert(13%) sepia(17%) saturate(2106%) hue-rotate(314deg) brightness(109%) contrast(92%);
}

.swiper-slide #colon-2 {
    bottom: 30%;
    right: 20%;
    filter: invert(13%) sepia(17%) saturate(2106%) hue-rotate(314deg) brightness(109%) contrast(92%);
}

.swiper-pagination .swiper-pagination-bullet {
    background: #502121;
}
#footer{
    height: 30vh;
    width: 100%;
    position: relative;
    background: linear-gradient(to left bottom,rgb(94, 42, 42),rgb(32, 24, 24));
    display: flex;
}
#social-media{
    margin-left: 180px;
    margin-top: 30px;
}
#social-media h3{
    margin-left: 60px;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 700;
}
#social-media svg{
    height: 50px;
    width: 50px;
    margin: 0 15px;
}